@import "tailwindcss";

/* dikhatulistiwa theme pakai oklch, figma udh supportkah? semua monitor dll support kah?*/
/* https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl */
/* https://oklch.com/#0.7,0.1,211,100 */

:root {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    sans-serif;
}

@theme {
  --color-primary-100: oklch(0.4714 0.1471 8.77);
  --color-primary-200: oklch(0.3956 0.128 7.39);
  --color-primary-300: oklch(0.32 0.128 7.39);

  --color-secondary-100: oklch(0.4062 0 7.39);
  --color-secondary-200: oklch(0.3049 0 7.39);
  --color-secondary-300: oklch(0.2127 0 7.39);

  --color-danger-25: oklch(0.985 0.01 25);
  --color-danger-50: oklch(0.965 0.025 25);
  --color-danger-100: oklch(0.93 0.055 25);
  --color-danger-200: oklch(0.85 0.09 28);
  --color-danger-300: oklch(0.72 0.14 30);
  --color-danger-400: oklch(0.58 0.17 30);
  --color-danger-500: oklch(0.449 0.19 29);
  --color-danger-600: oklch(0.38 0.16 28);
  --color-danger-700: oklch(0.32 0.13 27);
  --color-danger-800: oklch(0.26 0.1 26);
  --color-danger-900: oklch(0.2 0.08 25);

  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);
  --color-disabled: oklch(0.417 0.113 244);


  --shadow-lg: 0 4px 6px -2px oklch(0.2099 0.0341 263.44 / 3%), 0 12px 16px -4px oklch(0.2099 0.0341 263.44 / 8%);
  --shadow-xl: 0 8px 8px -4px oklch(0.2099 0.0341 263.44 / 3%), 0 20px 24px -4px oklch(0.2099 0.0341 263.44 / 8%);
}

/* react default css */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
